In [1]:
#!pip install selenium

In [2]:
import selenium
import pandas as pd

In [3]:
from selenium import webdriver

In [4]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [5]:
#specifying the url to be scrapped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [6]:
from selenium.common import exceptions
from selenium.common.exceptions import InvalidSessionIdException

In [7]:
driver.get(url)

# Q1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [64]:
job_titles=[]
company_name=[]
experience_list=[]
location_list=[]
salary_list=[]

In [47]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="65eb8321-16f1-409e-b074-db93ee43826c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="6c81b45f-f761-4335-b151-b5580b408bbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="8a049ccd-d786-4681-9c98-42d6795be4d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c663d5a3-c1fb-4894-9470-3f28ebced62b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7b56a3f8-375a-41ee-b073-6f9a4961273b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="fdb62aef-d7f3-4de6-9732-8163cf108618")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="07ac68fc-4f5c-45b5-b1b8-914b209c6bfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="35a694e7-1bed-4207-98ff-e888aec93079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="8036ec5e-069e-4998-9c8f-e2954ddc4be1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="63271a64-0c07-4813-9d7c-182163b66e4b")>]

In [48]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="65eb8321-16f1-409e-b074-db93ee43826c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="6c81b45f-f761-4335-b151-b5580b408bbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="8a049ccd-d786-4681-9c98-42d6795be4d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c663d5a3-c1fb-4894-9470-3f28ebced62b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7b56a3f8-375a-41ee-b073-6f9a4961273b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="fdb62aef-d7f3-4de6-9732-8163cf108618")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="07ac68fc-4f5c-45b5-b1b8-914b209c6bfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="35a694e7-1bed-4207-98ff-e888aec93079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="8036ec5e-069e-4998-9c8f-e2954ddc4be1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="63271a64-0c07-4813-9d7c-182163b66e4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="e0a58fce-c973-4355-8909-bd83ec92255e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="27f905b1-781b-4b28-9f02-f4c5ebac3b05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5624bee1-eb85-4f36-8f98-e88e9c4eaacb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="0678d731-18ee-4b87-8b22-a4324c1463a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="637764ac-337b-4947-9485-7b2ac2c8205c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5239bf3d-2ee3-4118-ac3f-6c62e41f0d64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7ccaf428-3163-45f2-94ef-ecbe59c2828d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9ebc2d64-9dc4-489f-b724-b2da71e29a67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="b80b9147-b831-4560-a3d2-203253b80646")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="4a22a8d7-9caa-49ba-aca9-8b279242f4fb")>]

In [49]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Business Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Study Data Analyst',
 'Data Analyst',
 'Business Data Analyst']

In [50]:
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="cb370244-56ee-46e9-bb63-d0a5dbe062f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5db23923-3b4b-4333-b486-3f6c65835f88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9a011e4f-c353-43b5-b0d9-6036d21a4da1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="cd5ae80e-5c19-4513-9142-1c52b6495b0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="d011ef64-705a-4966-bfbb-be94c4608635")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="f2407809-63a1-4d1d-a24b-17717197f298")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c0448bf2-ef40-4b5c-9024-371831b2b951")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c8cd5514-a801-44f9-b8ed-e9b05deabf9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="86ba0a44-5c20-4323-87d1-2dc0d1be6d20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="cb386588-e055-455a-9b27-48dd38b2edf0")>]

In [51]:
for i in companies_tags:
    subTitle=i.text
    company_name.append(subTitle)
company_name[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'NetApp',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Ltd',
 'GENPACT India Private Limited']

In [52]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')

In [53]:
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="564f8092-45cc-4c6f-a7ee-f0eb4f384557")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1d877ed0-f910-43d2-9c31-5cad7cc675c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1c3a3f9f-7ebd-423b-b809-caaddd707a6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5d9ca542-f246-4d5f-9420-6c49c68c055e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="dc263d8d-8e84-47fe-b8b1-0b83cebae3cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="adf7c516-6c31-46b3-91aa-d77843de51f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="806a5c63-b5f8-4a3c-bc57-83a165284629")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="6b037b8d-cfc3-4735-becd-e426a9179a38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="679eb002-e295-4f45-8efa-9f83405b2514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="3a472783-4d6c-40d4-91d2-2cfc717115d6")>]

In [54]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-2 Yrs',
 '0-3 Yrs',
 '2-3 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '3-4 Yrs',
 '3-6 Yrs']

In [55]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')

In [56]:
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="28a47a00-174e-4c94-b881-4430b7f2de11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="8728b452-c441-45e5-bdf8-c7280416f92b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="bdfcfc9c-623d-43fb-8aab-40671be6a38c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="16c0bf1d-7567-4a46-a74e-55a25b80600d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="94a1aea3-1750-4496-ad01-560f42d0caef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1c675b66-2ecd-4c82-b705-e3526e732204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="29874b49-2a9b-401e-a0db-db6e264b139e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="524de95a-1cb0-4f25-90f9-a31c86164328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="776521f2-dcf6-4466-b53c-a2b01c4be77f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="ce5af277-1c0d-4db2-94d4-bb58e1915433")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="cf05c51c-c915-4c41-a541-6ff86fa10e30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="dd394636-79b3-4bc7-bad6-d922c7d45678")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5cd02266-17ce-4e3d-ba63-a461c5d73301")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="cededf26-a4df-4559-ac3a-075e556aad89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="a12e8bd3-6a2b-4756-acd7-966284fb4149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="41002e36-d6b3-47a4-a513-b42210981f12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="47da3e21-e8d3-417a-bb74-59800aa9d62d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="acebfdb4-fbc7-4f43-998d-0ff4995a7be8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1e2d663c-1f12-412f-9d7e-87be9e803460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="ead0c2cb-351e-454b-b0a5-45b9e3a2de28")>]

In [57]:
for i in loc_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru(Whitefield)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, India',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [58]:
salary_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]/span[1]')
salary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="268ec7d8-17b6-46dc-8e58-ef965e5881bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="42a0bd6c-8ecc-4845-ab0e-1c2501fb847e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="bbb5ab61-4464-44cb-8477-1b24cb55f47c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="df6a2adc-2bfd-41a9-a771-8423ecfee37a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="d65958b1-85ac-4a7f-9226-f29b6e481cb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="08f9383f-466b-435a-a8f2-4aa454fb24a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="bfbcc914-4509-46f6-9e79-e10e7df17029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9797c156-1251-45f1-8475-e1ce6dde50c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="271e760d-5da7-464f-bb06-11d9f15286df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="85e55e19-0338-4fdb-bf81-35be192f67ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="2a662875-1200-4327-8540-b17fde00adc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="dbe124db-446f-46ce-beee-d83bc2ed626e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7539c550-59dc-4cab-8c77-d5fff690fba9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="a2e2c882-a648-46ef-866c-e081f852f1e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="524789ea-e4f0-41c0-9e2d-7441471be7bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="3b2c89b5-5f55-4cba-8838-80fb63aa3f43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="efe6d029-465c-41b3-816b-4a4bb14951cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="ecace882-a238-4db2-b388-23532a884ca2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7b3c7ee9-b620-4408-b050-da6e3cc5aa89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="12c6bbe2-559a-497b-a175-73e1d1504081")>]

In [59]:
for i in salary_tags:
    salary=i.text
    salary_list.append(salary)
salary_list[0:10]

['3,50,000 - 8,50,000 PA.',
 '3,50,000 - 4,50,000 PA.',
 'Not disclosed',
 '50,000 - 2,00,000 PA.',
 '3,00,000 - 6,00,000 PA.',
 '2,50,000 - 5,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '7,50,000 - 12,00,000 PA.']

In [60]:
print(len(job_titles),len(company_name),len(experience_list),len(location_list),len(salary_list))

20 20 20 20 20

In [61]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Experience']=experience_list
jobs['Location']=location_list
jobs['Salary']=salary_list

In [62]:
jobs

,Title,Company,Experience,Location,Salary
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad","3,50,000 - 8,50,000 PA."
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad","3,50,000 - 4,50,000 PA."
2,Business Data Analyst,NetApp,2-3 Yrs,Bengaluru,Not disclosed
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0-5 Yrs,Bengaluru(Whitefield),"50,000 - 2,00,000 PA."
4,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru,"3,00,000 - 6,00,000 PA."
5,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru,"2,50,000 - 5,50,000 PA."
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs,"Bengaluru, India",Not disclosed
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bengaluru,Not disclosed
8,Data Analyst,Cognizant Technology Solutions India Ltd,3-4 Yrs,Bengaluru,Not disclosed
9,Business Data Analyst,GENPACT India Private Limited,3-6 Yrs,Bengaluru,"7,50,000 - 12,00,000 PA."
10,Fresher/Trainee/Internship - Data Analyst/Busi...,IIBM Institute of Business Management,0-5 Yrs,"Chennai, Bengaluru, Hyderabad","3,00,000 - 4,00,000 PA."
11,Data Analyst,Thinkbumblebee Analytics Pvt Ltd,3-6 Yrs,"Pune, Delhi, Mumbai, Bengaluru, Hyderabad",Not disclosed
12,Hiring For Data Analyst ( Contractual Role),Flipkart Internet Private Limited,3-5 Yrs,Bengaluru,"3,00,000 - 8,00,000 PA."
13,Global Medical Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,5-10 Yrs,Bengaluru,Not disclosed
14,Hiring|| Data Analyst || Affluent Global servi...,Affluent Global Services Pvt. Ltd.,4-6 Yrs,Bengaluru,Not disclosed
15,Data Analyst,IBM India Pvt. Limited,5-7 Yrs,Bengaluru,Not disclosed
16,Data Analyst (Telcom domain),Oracle India Pvt. Ltd.,5-10 Yrs,Bengaluru,Not disclosed
17,Retainer/Consultant - Product Manager - Data S...,Fortune HR Consultant,2-7 Yrs,Bengaluru,Not disclosed
18,Sr . Data Analyst - Supporting Audit,Visa Inc.,1-4 Yrs,Bengaluru,Not disclosed
19,Business Analyst / Data Analyst required - Online,www.iibminternships.com,0-5 Yrs,"Mumbai, Bengaluru, Hyderabad","4,00,000 - 5,00,000 PA."

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [77]:
job_titles=[]
company_name=[]
job_location=[]
experience_list=[]
salary_list=[]

In [78]:
url='https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore'

In [79]:
driver.get(url)

In [80]:
title_tags1=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="ca528eaf-5509-4223-af9a-373e15a8beae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9818b616-12b6-4420-a365-bde78ff73c98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="dc87206d-0eae-4f42-89b1-01573a3f96ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="29947b2a-451e-4c04-83d5-a356d4c0694c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="608305e7-08b9-411f-95a0-df5730dd84aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="6803745f-380f-45df-9a25-1cda6323b398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="f9a1563f-43da-410b-86a8-ccc497e62ee3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="4648dbea-7c25-465c-a39d-b59dcdb069bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="279b0075-294b-40b7-a8b0-52b1506a70e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7aa07b92-d690-4e85-90b1-1a4ddec78331")>]

In [81]:
for i in title_tags1:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Data Scientist - Machine Learning',
 'Senior Data Scientist - NLP/ Python/ R',
 'Artificial Intelligence Analyst/Data Scientist',
 'Data Scientist',
 'Global Medical Data Scientist',
 'Advanced Architect - Data Scientist',
 'AI Resident Data Scientist Stats. Consl.',
 'AI Resident - Data Scientist']

In [82]:
companies_tags1=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7df8228f-2285-4183-bd73-436db15ec0ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="168b2039-4aec-4d0b-9c04-43f10717c1a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="a161a28b-075a-449b-ad38-b909907807b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1146ffcf-c1db-4044-a334-3e728d9e8c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5c45df8b-0c37-4354-8259-fa7269839b8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9713e8c6-d03b-4bf7-b927-7cd01561778e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="45d26718-c71e-49ef-8f5d-c0eb78345c35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="0060d558-86e4-499b-a8c2-d6b66e0c9d69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="e5db65b3-0ff7-4a9e-ab82-809bf4132345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="cdf8ede8-fafc-45b4-a7e3-7b83cb0eea32")>]

In [83]:
for i in companies_tags1:
    subTitle=i.text
    company_name.append(subTitle)
company_name[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'AVI Consulting LLP',
 'TalentCo Search Pvt Ltd',
 'Mailkit Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Mphasis Limited',
 'Shell India Markets Private Limited',
 'Shell India Markets Private Limited']

In [84]:
loc_tags1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
loc_tags1

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="d5de6d71-94ed-459a-8890-d65e980d7c51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="bde4ec9b-26ee-4c38-a090-aa74b599e092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1c253b69-adc5-4ad7-94f6-7749d1ffd600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="71d406a0-b568-421b-ba74-6f24bb4eb90c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="304dcc34-d646-4236-8f6a-592e65140cf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7bd9371f-3abd-4c7c-8db1-9d6acb7abb32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="455f8451-77ff-4bcc-bb6e-0d34d0ed5197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="6dc81851-e8e1-4c32-9df1-74047a50237b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9e19e188-e334-4ac7-a87b-2ff2d18064ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c96fd799-0776-4a0d-b581-af4209ced607")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="3d1b5473-c7bc-401a-ad5e-32efacc22f8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="15755c33-359a-4d5b-8619-79d2178dae4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="8ef67c3b-8316-4e7a-b4e0-22ef51d7d0ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="ca6cea21-0cbf-4b81-aa28-b7f6a9634f9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="d5abda5d-436c-4503-9a02-a268574de6ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1a4ff4c8-8292-4474-86b3-1afed995c29b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="59ea23f0-4e2c-4ac2-9583-c0188fb44c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7b9e15e7-5360-4a82-9c71-2f0420f3cdec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c3634cbb-a004-42a1-b9a7-690135a1a45e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="55216104-902d-429c-81f4-2ea2047a5b7c")>]

In [87]:
for i in loc_tags1:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru, Hyderabad',
 'Mumbai, Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Bengaluru, India',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [86]:
experience_tags1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
experience_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="7e4e27d3-6fa0-4386-bdda-587fcff32377")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="1c467795-9c89-4985-9e7f-5ce6a225a7cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="9f50a412-636f-4f5f-ad60-92627c2dfba8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="a9492f51-194d-4283-88bb-1d85719c178d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="05d305dc-a9d2-4985-817e-a171acc62492")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="b93b1e7a-ac1f-47bd-a85a-f6e23eaeb2bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="4fe1dbdd-4dfb-49d3-b00a-1887a115719f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="5213f24b-87dc-438a-a59c-2b6144923bad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="a7256564-d010-4ed3-ad7d-f250c9a67326")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="09bf77aa-e9c1-4a15-8ac6-1c1faa5b60e1")>]

In [88]:
for i in experience_tags1:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-2 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '5-7 Yrs',
 '12-18 Yrs',
 '3-5 Yrs',
 '3-5 Yrs']

In [89]:
salary_tags1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]/span[1]')
salary_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="41df952e-360d-4738-919d-5793e120a3ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="3bf20d3a-ea02-4809-9ca0-a3f6008bd420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="c3836970-425e-4a5b-b68c-31459fe53d1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="d76969f6-d2ef-4d15-8bf1-aabf9998e059")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="6b212adb-5bd7-4218-ba1e-703e5d17c1ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="e7e7f95f-2ea1-4e1c-a3cb-5339e2de77f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="f1a28051-bf73-475e-bafb-7c01a25e11b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="557fd72e-d51f-4ce7-9a9a-cb146d878752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="d87a1bd1-b8c7-4fe7-a2c6-be2dfd32c274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a5ac55de4746f7af6d511d999e27fe0", element="b0cea2bb-d2a6-41d6-a33c-cd6e89b12ec9")>]

In [90]:
for i in salary_tags1:
    salary=i.text
    salary_list.append(salary)
salary_list[0:10]

['3,50,000 - 8,50,000 PA.',
 '3,50,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [97]:
print(len(job_titles),len(company_name),len(experience_list),len(job_location),len(salary_list))

20 20 20 20 20

In [99]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Experience']=experience_list
jobs['Location']=job_location
jobs['Salary']=salary_list

In [100]:
jobs

,Title,Company,Experience,Location,Salary
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad","3,50,000 - 8,50,000 PA."
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad","3,50,000 - 4,50,000 PA."
2,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,2-7 Yrs,Bengaluru,Not disclosed
3,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,4-9 Yrs,"Bengaluru, Hyderabad",Not disclosed
4,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,1-5 Yrs,"Mumbai, Bengaluru",Not disclosed
5,Data Scientist,Mailkit Private Limited,4-9 Yrs,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Not disclosed
6,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,5-7 Yrs,"Bengaluru, India",Not disclosed
7,Advanced Architect - Data Scientist,Mphasis Limited,12-18 Yrs,Bengaluru,Not disclosed
8,AI Resident Data Scientist Stats. Consl.,Shell India Markets Private Limited,3-5 Yrs,Bengaluru,Not disclosed
9,AI Resident - Data Scientist,Shell India Markets Private Limited,3-5 Yrs,Bengaluru,Not disclosed
10,AI Resident - Data Scientist - NLP,Shell India Markets Private Limited,3-5 Yrs,Bengaluru,Not disclosed
11,Data Scientist (ON Contract),Sandvik Asia Pvt. Ltd.,4-8 Yrs,Bengaluru,Not disclosed
12,Data Scientist (ON Contract),Sandvik Asia Pvt. Ltd.,4-8 Yrs,Bengaluru,Not disclosed
13,Principal Data Scientist,Signify,10-15 Yrs,Bengaluru,Not disclosed
14,Data Scientist,Virtusa Consulting Services Pvt Ltd,9-14 Yrs,"Chennai, Bengaluru, Hyderabad",Not disclosed
15,Looking For Data scientist - Bangalore,Element Infomatics (India) Pvt. Ltd.,4-7 Yrs,"Mumbai, Bengaluru, Hyderabad",Not disclosed
16,Business Analyst - Data Scientist,ExecBoardinAsia,5-10 Yrs,Bengaluru,Not disclosed
17,Data Scientist,Applied Materials,4-7 Yrs,Bengaluru,Not disclosed
18,Business Analyst - Data Scientist,Mitel Networks Corporation,4-8 Yrs,Bengaluru,Not disclosed
19,Senior Data Scientist,Zymr Systems Pvt. Ltd.,8-10 Yrs,"Pune, Ahmedabad, Bengaluru",Not disclosed

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [1]:
job_titles=[]
company_name=[]
job_location=[]
experience_list=[]
salary_list=[]

In [2]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')

driver.get(url)

In [6]:
title_tags1=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title_tags1:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist - Python/Machine Learning',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Excellent opportunity For Lead Data Scientist at Noida location',
 'Lead Data Scientist',
 'Excellent opportunity For Lead Data Scientist at Noida location',
 'Data Scientist']

In [8]:
companies_tags1=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies_tags1:
    subTitle=i.text
    company_name.append(subTitle)
company_name[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'Jubna',
 'GABA Consultancy services',
 'PureSoftware Pvt Ltd.',
 'World Wide Technology',
 'NEC CORPORATION INDIA PRIVATE LTD',
 'NEC CORPORATION INDIA PRIVATE LTD',
 'NEC CORPORATION INDIA PRIVATE LTD',
 'NEC CORPORATION INDIA PRIVATE LTD',
 'Stark Industries']

In [9]:
loc_tags1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
for i in loc_tags1:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Noida',
 'Delhi NCR, Greater Noida, Noida',
 'Gurgaon',
 'Gurgaon',
 'Delhi NCR, Noida(Sector-142 Noida)',
 'Delhi NCR(Sector-142 Noida), Noida',
 'Delhi NCR, Noida(Sector-142 Noida)',
 'Delhi NCR(Sector-142 Noida), Noida',
 'Delhi']

In [10]:
experience_tags1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
for i in experience_tags1:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-2 Yrs',
 '5-8 Yrs',
 '0-0 Yrs',
 '5-9 Yrs',
 '3-8 Yrs',
 '9-14 Yrs',
 '9-14 Yrs',
 '9-14 Yrs',
 '9-14 Yrs',
 '3-5 Yrs']

In [11]:
salary_tags1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]/span[1]')
for i in salary_tags1:
    salary=i.text
    salary_list.append(salary)
salary_list[0:10]

['3,50,000 - 8,50,000 PA.',
 'Not disclosed',
 '2,25,000 - 4,75,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [12]:
print(len(job_titles),len(company_name),len(experience_list),len(job_location),len(salary_list))

20 20 20 20 20

In [13]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Experience']=experience_list
jobs['Location']=job_location
jobs['Salary']=salary_list

In [14]:
jobs

,Title,Company,Experience,Location,Salary
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad","3,50,000 - 8,50,000 PA."
1,Data Scientist - Python/Machine Learning,Jubna,5-8 Yrs,Noida,Not disclosed
2,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Greater Noida, Noida","2,25,000 - 4,75,000 PA."
3,Data Scientist,PureSoftware Pvt Ltd.,5-9 Yrs,Gurgaon,Not disclosed
4,Data Scientist,World Wide Technology,3-8 Yrs,Gurgaon,Not disclosed
5,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR, Noida(Sector-142 Noida)",Not disclosed
6,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR(Sector-142 Noida), Noida",Not disclosed
7,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR, Noida(Sector-142 Noida)",Not disclosed
8,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR(Sector-142 Noida), Noida",Not disclosed
9,Data Scientist,Stark Industries,3-5 Yrs,Delhi,Not disclosed
10,Job | Opportunity For Senior Role(Data Scienti...,BA Continuum India Pvt. Ltd,14-17 Yrs,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon",Not disclosed
11,Data Scientist For A Leading Movers & Packers ...,Myfuture Placement Consultancy,1-2 Yrs,Delhi NCR,"2,00,000 - 3,00,000 PA."
12,Data Scientist,KNOWLEDGE EXCEL PRIVATE LIMITED,1-3 Yrs,Delhi NCR(Patparganj Industrial Area),Not disclosed
13,Data Scientist,Imbibe Consultancy Services Pvt Ltd,6-10 Yrs,"Delhi NCR, Bengaluru, Hyderabad","5,00,000 - 15,00,000 PA."
14,Tech Mahindra Hiring For Data Scientist- Hyder...,tech mahindra ltd,3-8 Yrs,"Hyderabad, Noida",Not disclosed
15,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon,Not disclosed
16,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,3-5 Yrs,Gurgaon,Not disclosed
17,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,1-3 Yrs,Gurgaon,Not disclosed
18,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Noida, Gurgaon","2,25,000 - 4,75,000 PA."
19,Senior Data Scientist,iNICU,1-5 Yrs,Delhi,Not disclosed

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [32]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [33]:
url='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'

In [34]:
driver.get(url)

In [35]:
company_list=[]
job_posted_list=[]
job_rating_list=[]

In [36]:
name_tags=driver.find_elements_by_xpath('//a[@class=" css-10l5u4p e1n63ojh0 jobLink"]/span[1]')[0:10]
name_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="0cd70e15-2402-4f5f-98ed-ef3c95c99fb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="46aeec88-b335-432f-8f53-8feb0298739d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="db74f411-90c8-4099-b764-786a0eaba648")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="edd5f264-c90b-4130-a469-29abc6783305")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="f125e678-f760-4660-a919-cd24d1c8085e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="89c64c7a-0d9d-4a74-b3fa-f187783587c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="3aa0ed4e-6634-4559-a977-9ec62e4e8825")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="32adedeb-336c-46f7-83a2-87fedf4f9112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="3c5c6f67-8884-4511-b6f0-d9551f7cfde6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="c1504320-9207-4ddb-b791-4b1f8fff3473")>]

In [37]:
for i in name_tags:
    title=i.text
    company_list.append(title)
company_list[0:10]

['Genpact',
 'IHS Markit',
 'MARKTECH CONSULTANCY',
 'GroundTruth',
 'Techlive',
 'Algoscale',
 'Gauge Data Solutions',
 'Ank Aha',
 'Mahajan Imaging',
 'Clinton Health Access Initiative']

In [39]:
posted_tags=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')[0:10]
posted_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="4debd970-fe51-439d-8277-dfd2b55d89e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="13cd4ad0-48c5-4461-b53d-ed8fef99dd34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="d2f3184b-9a06-4ae5-b97c-691f8443771a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="82475385-ee94-4140-b825-e8ab72fc7775")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="fd38d9a2-8a53-415e-b664-16e55fa5cbd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="b2b7b5a8-14c7-47d2-b550-fc70cd05e5ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="84e04e7b-fbcf-41fa-b95a-42d99a1b6aa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="1c47b33d-bbee-4db3-bb4f-71089e22d97c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="cf987300-470f-4d56-9ee3-0ad537ffaa71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="511fd13c-ad6e-4484-a7af-688881999381")>]

In [40]:
for i in posted_tags:
    job_age=i.text
    job_posted_list.append(job_age)
job_posted_list[0:10]

['24h', '8d', '5d', '21d', '6d', '28d', '28d', '24h', '24h', '24h']

In [41]:
rating_list=driver.find_elements_by_xpath('//span[@class="compactStars "]')[0:10]
rating_list[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="28601cf0-ccdf-442e-a6ad-815bf50615ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="b43731c4-551f-4c69-a2d6-dbc3aab47800")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="81d510dd-40aa-4952-bf18-a79f92d365a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="13bfcc11-17c8-45ba-90cd-d5e1c3d23a93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="fefb566e-07f8-49af-a9af-8fd214bf4d21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="3f05a6c7-00a9-4920-8f2a-ec776ce1757f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="4de51c36-7fc6-405b-b7c4-e8f0c87896b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="da97ae48-090b-4c38-962e-63c4e7b5dfed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="94b177d2-99fc-4581-90ad-674f3fd30256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="197430854e9ca5e21a13226cf3c299a3", element="3e68e3e3-dc3b-44cc-b939-92403bb1eadc")>]

In [42]:
for i in rating_list:
    ratings=i.text
    job_rating_list.append(ratings)
job_rating_list[0:10]

['3.8', '4.1', '3.3', '5', '3.7', '3.1', '4.1', '4', '3.9', '4.5']

In [43]:
print(len(company_list),len(job_posted_list),len(job_rating_list))

10 10 10

In [44]:
jobs=pd.DataFrame({})
jobs['Name_of_Company']=company_list
jobs['No. of days ago when job was posted']=job_posted_list
jobs['Rating of the company']=job_rating_list

In [45]:
jobs

,Name_of_Company,No. of days ago when job was posted,Rating of the company
0,Genpact,24h,3.8
1,IHS Markit,8d,4.1
2,MARKTECH CONSULTANCY,5d,3.3
3,GroundTruth,21d,5
4,Techlive,6d,3.7
5,Algoscale,28d,3.1
6,Gauge Data Solutions,28d,4.1
7,Ank Aha,24h,4
8,Mahajan Imaging,24h,3.9
9,Clinton Health Access Initiative,24h,4.5

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [70]:
url=driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [71]:
url='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'

In [72]:
driver.get(url)

In [73]:
company_list=[]
salary_list=[]
avg_salary_list=[]
min_salary_list=[]
max_salary_list=[]

In [74]:
name_tags=driver.find_elements_by_xpath('//a[@class=" css-10l5u4p e1n63ojh0 jobLink"]/span[1]')[0:10]
for i in name_tags:
    title=i.text
    company_list.append(title)
company_list[0:10]

['ANI Calls India Private Limited',
 'Biz2Credit Inc',
 'Microsoft',
 'WSD Consultant',
 'SearchUrCollege',
 'xtLytics',
 'MARKTECH CONSULTANCY',
 'Applicate IT Solutions Pvt. Ltd.',
 'Techlive',
 'Vidooly']

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [148]:
import selenium
import pandas as pd

In [149]:
from selenium import webdriver

In [150]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [151]:
#specifying the url to be scrapped
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY"

In [152]:
driver.get(url)

In [170]:
brand_list=[]
product_description=[]
price_list=[]
discount_list=[]

In [171]:
name_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[0:100]
for i in name_tags:
    brand=i.text
    brand_list.append(brand)
brand_list[0:100]

['Royal Son',
 'ROYAL SON',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Phenomenal',
 'Rozzetta Craft',
 'Dannilo',
 'STYLE GURU',
 'shah collections',
 'ROZZETTA CRAFT',
 'JOHAENA',
 'Gansta',
 'FDA COLLECTION',
 'Winsome',
 'Fastrack',
 'Royal Son',
 'Phenomenal',
 'funglasses',
 'Mode',
 'Gansta',
 'shah collections',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Royal Son',
 'Riffko',
 'Riffko',
 'Trendy Glasses',
 'Specsmakers',
 'PIRASO',
 'Phenomenal',
 'funglasses',
 'hipe',
 'kingscape',
 'Singco India',
 'LOPO',
 'Specsmakers',
 'Dannilo',
 'shadz',
 'Singco India',
 'Royal Son']

In [172]:
desc_tags=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
for i in desc_tags:
    desc=i.text
    product_description.append(desc)
product_description

['UV Protection Retro Square Sunglasses (49)',
 'UV Protection Retro Square Sunglasses (88)',
 'Gradient, Mirrored, UV Protection Round, Round, Round S...',
 'Gradient, Mirrored, UV Protection Round, Round, Round S...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection, Others Aviator Sunglasses (Fre...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection, Mirrored Aviator Sunglasses (55)',
 'Gradient, Mirrored, UV Protection, Polarized Round, Rou...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection, Night Vision Retro Square Sunglasses (Fr...',
 'Mirrored Round Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Gradient Rectangular Sunglass...',
 'Riding Glasses, Night Vision Round, Round Sunglasses (5...',
 'UV Protection, Mirrored, Night Vision, Gradient, Riding...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, Mirrored, UV Protection Retro Square, Over-s...',
 'Polarized Wayfarer Sunglasses (53)',
 'Mirrored Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Retro Square Sunglasses (59)',
 'UV Protection, Polarized Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (59)']

In [173]:
print(len(product_description))

40

In [174]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[0:100]
for i in price_tags:
    price=i.text
    price_list.append(price)
price_list

['₹699',
 '₹599',
 '₹210',
 '₹210',
 '₹399',
 '₹398',
 '₹233',
 '₹799',
 '₹331',
 '₹449',
 '₹171',
 '₹289',
 '₹175',
 '₹172',
 '₹759',
 '₹699',
 '₹399',
 '₹161',
 '₹109',
 '₹268',
 '₹312',
 '₹645',
 '₹449',
 '₹399',
 '₹189',
 '₹175',
 '₹249',
 '₹495',
 '₹349',
 '₹299',
 '₹160',
 '₹185',
 '₹309',
 '₹175',
 '₹119',
 '₹696',
 '₹236',
 '₹299',
 '₹189',
 '₹699']

In [175]:
print(len(price_tags))

40

In [176]:
discount_tags=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div/div[3]')
for i in discount_tags:
    discount=i.text
    discount_list.append(discount)
discount_list

['65% off',
 '70% off',
 '83% off',
 '85% off',
 '80% off',
 '73% off',
 '80% off',
 '77% off',
 '80% off',
 '79% off',
 '86% off',
 '80% off',
 '82% off',
 '82% off',
 '15% off',
 '53% off',
 '80% off',
 '83% off',
 '84% off',
 '79% off',
 '75% off',
 '19% off',
 '77% off',
 '73% off',
 '84% off',
 '82% off',
 '86% off',
 '50% off',
 '86% off',
 '85% off',
 '83% off',
 '86% off',
 '80% off',
 '82% off',
 '82% off',
 '65% off',
 '76% off',
 '76% off',
 '72% off',
 '53% off']

In [177]:
print(len(product_description),len(price_list),len(discount_list))

40 40 40

In [180]:
jobs=pd.DataFrame({})
jobs['Brand']=brand_list
jobs['Description']=product_description
jobs['Price']=price_list
jobs['Discount']=discount_list

In [181]:
jobs

,Brand,Description,Price,Discount
0,Royal Son,UV Protection Retro Square Sunglasses (49),₹699,65% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹210,83% off
3,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹210,85% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
5,Rozzetta Craft,UV Protection Rectangular Sunglasses (Free Size),₹398,73% off
6,Dannilo,"Gradient, UV Protection, Others Aviator Sungla...",₹233,80% off
7,STYLE GURU,UV Protection Aviator Sunglasses (Free Size),₹799,77% off
8,shah collections,UV Protection Round Sunglasses (Free Size),₹331,80% off
9,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹449,79% off
10,JOHAENA,"Riding Glasses, UV Protection Oval Sunglasses ...",₹171,86% off
11,Gansta,"UV Protection, Mirrored Aviator Sunglasses (55)",₹289,80% off
12,FDA COLLECTION,"Gradient, Mirrored, UV Protection, Polarized R...",₹175,82% off
13,Winsome,UV Protection Round Sunglasses (54),₹172,82% off
14,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
15,Royal Son,"Gradient, UV Protection Round, Oval, Cat-eye S...",₹699,53% off
16,Phenomenal,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
17,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹161,83% off
18,Mode,UV Protection Aviator Sunglasses (Free Size),₹109,84% off
19,Gansta,"UV Protection, Night Vision, Riding Glasses Av...",₹268,79% off
20,shah collections,UV Protection Round Sunglasses (Free Size),₹312,75% off
21,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹645,19% off
22,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
23,Royal Son,Mirrored Aviator Sunglasses (55),₹399,73% off
24,Riffko,UV Protection Wayfarer Sunglasses (55),₹189,84% off
25,Riffko,UV Protection Round Sunglasses (55),₹175,82% off
26,Trendy Glasses,"UV Protection, Night Vision Retro Square Sungl...",₹249,86% off
27,Specsmakers,Mirrored Round Sunglasses (52),₹495,50% off
28,PIRASO,UV Protection Aviator Sunglasses (58),₹349,86% off
29,Phenomenal,"Polarized, UV Protection, Gradient Rectangular...",₹299,85% off
30,funglasses,"Riding Glasses, Night Vision Round, Round Sung...",₹160,83% off
31,hipe,"UV Protection, Mirrored, Night Vision, Gradien...",₹185,86% off
32,kingscape,UV Protection Round Sunglasses (Free Size),₹309,80% off
33,Singco India,UV Protection Round Sunglasses (Free Size),₹175,82% off
34,LOPO,"Polarized, Mirrored, UV Protection Retro Squar...",₹119,82% off
35,Specsmakers,Polarized Wayfarer Sunglasses (53),₹696,65% off
36,Dannilo,Mirrored Wayfarer Sunglasses (Free Size),₹236,76% off
37,shadz,"UV Protection, Polarized Retro Square Sunglass...",₹299,76% off
38,Singco India,"UV Protection, Polarized Aviator Sunglasses (F...",₹189,72% off
39,Royal Son,"Polarized, UV Protection Rectangular Sunglasse...",₹699,53% off

In [182]:
driver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [183]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [184]:
brand_list1=[]
product_description1=[]
price_list1=[]
discount_list1=[]

In [187]:
name_tags1=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in name_tags1:
    brand=i.text
    brand_list1.append(brand)
brand_list1[0:100]

['Chevit',
 'Ducati',
 'Chevit',
 'Chevit',
 'Deny Brown',
 'World Wear Footwear',
 'Shoes Bank',
 'Ducati',
 'Robbie jones',
 'Chevit',
 'Chevit',
 'Ducati',
 'D-SNEAKERZ',
 'Chevit',
 'Red Rose',
 'Marc Ecko',
 'GANPATI TRADERS',
 'Oricum',
 'Hotstyle',
 'French Connection',
 'Oricum',
 'Stinson',
 'Robbie jones',
 'French Connection',
 'Essence',
 'Rockfield',
 'T-Rock',
 'French Connection',
 'Chevit',
 'Essence',
 'Magnolia',
 'French Connection',
 'BRUTON',
 'Oricum',
 'Aura',
 'WHITE WALKERS',
 'Camfoot',
 'bluemaker',
 'ZOVIM',
 'Ducati']

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [112]:
brand_list1=[]
short_shoe_list=[]
price_list=[]

In [108]:
url=driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [109]:
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A7649.0_15099.0_7649.0%20TO%2015099.0'

In [110]:
driver.get(url)

In [127]:
brand_tags=driver.find_elements_by_xpath('//div[@class="pdp-title"]')[0:10]
brand_tags[0:10]

[]

In [ ]:
for i in brand_tags:
    brand_shoes=i.text
    brand_list1.append(brand_shoes)
brand_list1[0:100]

In [185]:
url='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [186]:
driver.get(url)

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [142]:
title_list1=[]
rating_list=[]
price_list=[]

In [129]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [130]:
#specifying the url to be scrapped
url="https://www.amazon.in/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1608217604&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_16"

In [131]:
driver.get(url)

In [138]:
title_tags1=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="ff2b6f11-48e2-4302-90c6-c272468957d5")>]

[<selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="bb08d7c3-fedc-4db4-b8b2-836b674e6fb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="8f065681-fc36-4ae2-b025-d1a4860564bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="f0ce8f14-13e9-4c31-a64f-d01c361097e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="5a83c8a5-17aa-4b0b-b6de-9fd6c4baefa4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="c911ace6-e1d6-4882-9722-d9a4597e4c6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="fbc73b36-e757-436a-a4fe-5957fcaeecce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="562d7ed3-7397-4b13-9c97-1f7d4d7040da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="118dd7c1-45c8-4d16-84e1-9f79cb664222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="d3e24afd-da35-4b1c-a66b-1e10f1090390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3521d2d0de9f7305cd291e1ffa8f26de", element="3bdbefa7-ce03-48de-985f-b4aacdddd52e")>]

In [147]:
title_tags1=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[0:10]
for i in title_tags1:
    title1=i.text
    title_list1.append(title1)
title_list1[0:10]

['Skip to main content\n.in\nHello\nSelect your address\nComputers & Accessories\nAll Categories\nDeals\nAlexa Skills\nAmazon Devices\nAmazon Fashion\nAmazon Pantry\nAppliances\nApps & Games\nBaby\nBeauty\nBooks\nCar & Motorbike\nClothing & Accessories\nCollectibles\nComputers & Accessories\nElectronics\nFurniture\nGarden & Outdoors\nGift Cards\nGrocery & Gourmet Foods\nHealth & Personal Care\nHome & Kitchen\nIndustrial & Scientific\nJewellery\nKindle Store\nLuggage & Bags\nLuxury Beauty\nMovies & TV Shows\nMusic\nMusical Instruments\nOffice Products\nPet Supplies\nPrime Video\nShoes & Handbags\nSoftware\nSports, Fitness & Outdoors\nTools & Home Improvement\nToys & Games\nUnder ₹500\nVideo Games\nWatches\nHello, Sign in\nAccount & Lists\nReturns\n& Orders\n0\nCart\nAll\nMobiles & Accessories\nLaptops & Accessories\nTV & Home Entertainment\nAudio\nCameras\nComputer Peripherals\nSmart Technology\nMusical Instruments\n1-24 of 421 results for "Laptop"\nSort by:\n        \n            Featured\n        \n            Price: Low to High\n        \n            Price: High to Low\n        \n            Avg. Customer Review\n        \n            Newest Arrivals\n        \n    Sort by:Featured\nAmazon Prime\nDepartment\nAny Department\nComputers & Accessories\nLaptops\nAvg. Customer Review\n& Up\n& Up\n& Up\n& Up\nBrand\nLenovo\nHP\nDell\nASUS\nAVITA\nMI\nAcer\nMSI\nLG\nTamatina\nPrice\n₹20,000 – ₹30,000\n₹30,000 – ₹40,000\n₹40,000 – ₹50,000\nOver ₹50,000\n₹\n₹\nGo\nDeals\nToday\'s Deals\nCPU Type\nClear\nAMD A-Series\nAMD A10\nAMD A4\nAMD A6\nAMD A8\nAMD Athlon\nAMD E-Series\nAMD Ryzen 3\nAMD Ryzen 5\nAMD Ryzen 7\nIntel Atom\nIntel Celeron\nIntel Core 2\nIntel Core i3\nIntel Core i5\nIntel Core i7\nIntel Core i9\nIntel Pentium\nMaximum CPU Speed\nUp to 1.5 GHz\n1.6 - 2 GHz\n2.1 - 2.5 GHz\n2.5 GHz & more\nLaptop Usage\nBusiness\nGaming\nPersonal\nOperating System\nWindows 10\nWindows 8\nWindows 7\nChrome\nDOS\nMemory Size\nUp to 2 GB\n3 GB\n4 GB\n6 GB\n8 GB\n12 GB\n16 GB & more\nHDD Size\nUp to 159 GB\n160 - 249 GB\n250 - 499 GB\n500 - 999 GB\n1TB & More\nStorage Type\nHybrid Drive\nMechanical Hard Drive\nSolid State Drive\nFeatures\nAnti Reflective\nCD/DVD\nFingerprint Reader\nTouchscreen\nLaptop Type\nChromebook\nConvertible 2 in 1\nNotebook\nUltrabook\nLaptop Weight\nUp to 0.9 kg\n1 - 1.4 kg\n1.5 - 1.9 kg\n2 - 2.4 kg\n2.5 kg & more\nBattery Life\nUp to 4 Hours\n5 - 7 Hours\n8 - 10 Hours\n11 Hours & More\nGraphics Processor\nIntel Integrated Graphics\nNvidia GeForce\nCPU Manufacturer\nAMD\nIntel\nLaptop Display Size\nUp to 10"\n13" - 14"\n15" - 16"\n17" & More\nNew Arrivals\nLast 30 days\nLast 90 days\nItem Condition\nNew\nDiscount\n10% Off or more\n25% Off or more\n35% Off or more\n50% Off or more\nPay On Delivery\nEligible for Pay On Delivery\nAvailability\nInclude Out of Stock\nSeller\nAppario Retail Private Ltd\nComputronics Multivision Pvt. Ltd.\nLazyStore\nAuthorize Partner MSI / Asus & many other brands\nShopForBest\nElectronics Bazaar\nThe-EStore\nEagle Information\nFastDeals®\nKIDA Retail Private Ltd\nSponsored\nLooking for Laptops? Shop from a wide selection of laptops from HP, Dell, Lenovo & Apple.\nShop now\n(Renewed) Lenovo ThinkPad High Performance 12.5 inch IPS Panel 1.53 kg Laptop (Core I7 5600U/8 GB(Upto 16GB)/1 TB/Win 10 Pro/Webcam/USB 3.0/SIM/BT/M.2/Cardreader/TPM 2.0 VPro/Integrated Graphics)\n11\n₹34,999\n₹89,999 Save ₹55,000 (61%)\nSave extra with No Cost EMI\nGet it by Monday, December 21\nFREE Delivery by Amazon\nLenovo ThinkPad E14 Intel Core i7 10th Gen14-inch Full HD IPS Thin and Light Laptop (16GB RAM/ 1TB HDD+256GB SSD/ Windows 10 Home/ Microsoft Office Home & Student 2019/ Black/ 1.69kg), 20RAS0AM00\n₹84,990\n₹1,00,640 Save ₹15,650 (16%)\nSave extra with No Cost EMI\nGet it by Thursday, December 24\nFREE Delivery by Amazon\nASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS\n8\n₹95,840\n₹1,18,990 Save ₹23,150 (19%)\nSave extra with No Cost EMI\nGet it by Thursday, December 24\nFREE Delivery by Amazon\nASUS TUF Gaming F15 Laptop 15.6" FHD Intel Core i7 10th Gen, GeForce GTX 1650 4GB GDDR6 Graphics (8GB RAM/512GB NVMe SSD/Windows 10/Fortress Gray/2.30 Kg), FX566LH-BQ036T + Xbox Game Pass for PC\n16\n₹73,990\n₹1,03,990 Save ₹30,000 (29%)\nSave extra with No Cost EMI\nGet it by Sunday, December 20\nFREE Delivery by Amazon\nAsus VivoBook S14 Core i7 8th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/2 GB Graphics) S430FN-EB059T Thin and Light Laptop (14 inch, Gun Metal, 1.4 kg)\n₹69,990\n₹86,990 Save ₹17,000 (20%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nOnly 1 left in stock.\nHP Pavilion x360 Core i7 8th Gen 14-inch Touchscreen 2-in-1 FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/2GB Graphics/Mineral Silver/1.59 kg), 14- dh0045TX\n271\nDeal of the Day\n₹82,990\n₹98,242 Save ₹15,252 (16%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\n(Renewed) Dell Inspiron 3567 Laptop Core i3-7th/6GB/1TB/15.6\'\'/WIN 10 HOME\n₹29,990\n₹68,090 Save ₹38,100 (56%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nAsus ROG Strix G15 Core i7 10th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Ti/144 Hz) G512LI-HN081T Gaming Laptop (15.6 inch, Black Plastic, 2.30 kg)\n₹84,990\n₹1,16,990 Save ₹32,000 (27%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nOnly 1 left in stock.\nMSI Gaming GL65 Leopard , Intel 9th Gen. i7-9750H, 15.6" FHD Gaming Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX 1650/ Black/2.3Kg) 9SCXK-076IN\n51\n₹69,990\n₹95,990 Save ₹26,000 (27%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\n(Renewed) HP EliteBook FOLIO 9480M Laptop (Core i7 4th Gen/4GB/500GB/WEBCAM/14\'\'/DOS)\n₹24,490\n₹53,100 Save ₹28,610 (54%)\nSave extra with No Cost EMI\nGet it by Sunday, December 20\nFREE Delivery by Amazon\nHP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu\n45\n₹74,990\n₹92,418 Save ₹17,428 (19%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nMore Buying Choices\n₹74,890 (6 new offers)\nHP 14 10th Gen Intel Core i7 Ultra Thin and Light FHD Laptop (i7-1065G7/8GB/512GB SSD/Win 10/MS Office 2019/Natural Silver/1.46 Kg), 14s-DR1010TU\n13\n₹71,390\n₹81,868 Save ₹10,478 (13%)\nSave extra with No Cost EMI\nGet it by Wednesday, December 23\nFREE Delivery by Amazon\nASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (8GB RAM/1TB HDD + 512GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN132T\n₹94,499\n₹1,14,990 Save ₹20,491 (18%)\nSave extra with No Cost EMI\nGet it by Thursday, December 24\nFREE Delivery by Amazon\nOnly 2 left in stock.\nASUS ZenBook 13 (2020) Intel Core i7-1165G7 11th Gen 13.3-inch FHD Thin and Light Laptop (16GB RAM/1TB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Lilac Mist/1.11 kg), UX325EA-EG701TS\n₹99,990\n₹1,22,990 Save ₹23,000 (19%)\nSave extra with No Cost EMI\nFREE Delivery by Amazon\nIn stock on December 19, 2020.\n(Renewed) Lenovo ThinkPad High Performance 12.5 inch IPS Panel 1.53 kg Laptop (Core I7 5600U/8 GB(Upto 16GB)/512 GB SSD/Win 10 Pro/Webcam/USB 3.0/SIM/BT/M.2/TPM 2.0 VPro/Integrated Graphics)\n₹39,999\n₹89,999 Save ₹50,000 (56%)\nSave extra with No Cost EMI\nGet it by Monday, December 21\nFREE Delivery by Amazon\nDell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE\n15\n₹85,990\n₹93,971 Save ₹7,981 (8%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nAsus VivoBook Gaming (2020) Core i7 10th Gen - (16 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650/120 Hz) F571LH-AL150T Gaming Laptop (15.6 inch, Star Black, 2.14 kg)\n₹81,990\n₹97,990 Save ₹16,000 (16%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nOnly 1 left in stock.\nASUS VivoBook Ultra 15 (2020) Intel Core i7-1165G7 11th Gen 15.6-inch FHD Thin and Light Laptop (8GB/512GB NVMe SSD/Integrated Graphics/Windows 10/MS Office 2019/Dreamy White/1.8 kg), X513EA-EJ733TS\n1\n₹69,990\n₹84,990 Save ₹15,000 (18%)\nSave extra with No Cost EMI\nGet it by Thursday, December 24\nFREE Delivery by Amazon\nAsus ROG Strix G15 (2020) Core i7 10th Gen - (16 GB/1 TB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Ti/144 Hz) G512LI-HN086T Gaming Laptop (15.6 inch, Black Plastic, 2.30 kg)\n₹1,04,980\n₹2,14,990 Save ₹1,10,010 (51%)\nSave extra with No Cost EMI\nGet it by Monday, December 21\nFREE Delivery by Amazon\nOnly 2 left in stock.\nDell Inspiron 5501 15.6 Inch FHD Laptop (10th Gen i7-1065G7/8 GB/512 SSD/2 GB Nvidia Graphics/Win 10 + MS Office H&S 2019/Silver) D560213WIN9S\n4\n₹85,990\n₹95,732 Save ₹9,742 (10%)\nSave extra with No Cost EMI\nGet it by Saturday, December 19\nFREE Delivery by Amazon\nASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris Xᵉ Graphics/Indie Black/1.4 Kg), S433EA-AM701TS\n₹79,990\n₹98,990 Save ₹19,000 (19%)\nSave extra with No Cost EMI\nGet it by Thursday, December 24\nFREE Delivery by Amazon\nOnly 2 left in stock.\nMore Buying Choices\n₹79,985 (3 new offers)\nLenovo ThinkPad X390 Intel Core i7 8th Gen 13.3" FHD (1920x1080) IPS Thin and Light Laptop (8GB RAM / 512GB SSD/ Windows 10 Professional 64/ Black/ 1.29Kg), 20Q0S1ET00\n6\nLimited time deal\n₹89,990\n₹1,67,981 Save ₹77,991 (46%)\nSave extra with No Cost EMI\nGet it by Thursday, December 24\nFREE Delivery by Amazon\nDell Latitude 3410 14 Inch Core i7 10th Gen (16 GB/ 512GB SSD / Windows 10Pro / 2GB NVIDIA Graphics ) Business Laptop\n5\n₹98,990\n₹1,01,999 Save ₹3,009 (3%)\nSave extra with No Cost EMI\nGet it by Monday, December 21\nFREE Delivery by Amazon\nMicrosoft Laptop 2 1769 13.5-inch Laptop (Intel Core i7/8GB/256GB SSD/Windows 10 Home/Integrated Graphics), Platinum\n₹1,50,245\n₹1,50,999 Save ₹754\nSave extra with No Cost EMI\nGet it by Sunday, December 20\nFREE Delivery by Amazon\nRelated searches\nlaptop dell\nlaptop hp\ncomputer\nlaptop lenovo\n←Previous\n1\n2\n3\n...\n18\nNext→\nBrands related to your search\nThin & Light Laptops Powered by 10th Gen Intel\nShop ASUS \nMetallic, Fast, Thin, Light and Stylish\nShop Mi NoteBook Series \nSponsored\nNeed help?\nVisit the help section or contact us\nSponsored\n\n\nBack to top\nGet to Know Us\nAbout Us\nCareers\nPress Releases\nAmazon Cares\nGift a Smile\nConnect with Us\nFacebook\nTwitter\nInstagram\nMake Money with Us\nSell on Amazon\nSell under Amazon Accelerator\nBecome an Affiliate\nFulfilment by Amazon\nAdvertise Your Products\nAmazon Pay on Merchants\nLet Us Help You\nCOVID-19 and Amazon\nYour Account\nReturns Centre\n100% Purchase Protection\nAmazon App Download\nAmazon Assistant Download\nHelp\nEnglish\nAustraliaBrazilCanadaChinaFranceGermanyItalyJapanMexicoNetherlandsSingaporeSpainUnited Arab EmiratesUnited KingdomUnited States\nAbeBooks\nBooks, art\n& collectibles Amazon Web Services\nScalable Cloud\nComputing Services Audible\nDownload\nAudio Books DPReview\nDigital\nPhotography IMDb\nMovies, TV\n& Celebrities\n  Shopbop\nDesigner\nFashion Brands Amazon Business\nEverything For\nYour Business Prime Now\n2-Hour Delivery\non Everyday Items Amazon Prime Music\n60 million songs  \nConditions of Use & SalePrivacy NoticeInterest-Based Ads© 1996-2020, Amazon.com, Inc. or its affiliates',
 '(Renewed) Lenovo ThinkPad High Performance 12.5 inch IPS Panel 1.53 kg Laptop (Core I7 5600U/8 GB(Upto 16GB)/1 TB/Win 10 Pro/Webcam/USB 3.0/SIM/BT/M.2/Cardreader/TPM 2.0 VPro/Integrated Graphics)',
 'Lenovo ThinkPad E14 Intel Core i7 10th Gen14-inch Full HD IPS Thin and Light Laptop (16GB RAM/ 1TB HDD+256GB SSD/ Windows 10 Home/ Microsoft Office Home & Student 2019/ Black/ 1.69kg), 20RAS0AM00',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Core i7 10th Gen, GeForce GTX 1650 4GB GDDR6 Graphics (8GB RAM/512GB NVMe SSD/Windows 10/Fortress Gray/2.30 Kg), FX566LH-BQ036T + Xbox Game Pass for PC',
 'Asus VivoBook S14 Core i7 8th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/2 GB Graphics) S430FN-EB059T Thin and Light Laptop (14 inch, Gun Metal, 1.4 kg)',
 'HP Pavilion x360 Core i7 8th Gen 14-inch Touchscreen 2-in-1 FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/2GB Graphics/Mineral Silver/1.59 kg), 14- dh0045TX',
 "(Renewed) Dell Inspiron 3567 Laptop Core i3-7th/6GB/1TB/15.6''/WIN 10 HOME",
 'Asus ROG Strix G15 Core i7 10th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Ti/144 Hz) G512LI-HN081T Gaming Laptop (15.6 inch, Black Plastic, 2.30 kg)',
 'MSI Gaming GL65 Leopard , Intel 9th Gen. i7-9750H, 15.6" FHD Gaming Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX 1650/ Black/2.3Kg) 9SCXK-076IN']